@mixin tool-tip {
  position: absolute;
  background-color: #f2f2f2;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}


// :deep(.el-slider) {
//   height: 22px;
//   &:hover {
//     .el-slider__button {
//       border-color: #ffffffa0 !important;
//     }
//   }
//   &:active {
//     .el-slider__button {
//       background-color: white !important;
//     }
//   }
//   .el-slider__runway {
//     height: 2px;
//     padding: 0;
//     background-color: #ffffff40;
//     border-radius: 0;
//     cursor: default;
//     .el-slider__bar {
//       height: 2px;
//       background-color: white;
//       border-radius: 0;
//     }
//     .el-slider__button-wrapper {
//       top: -11px;
//       height: 22px;
//       width: 22px;
//       &:hover, &.hover {
//         cursor: default;
//         transform: translateX(-50%) scale(1);
//       }
//       .el-slider__button {
//         height: 16px;
//         width: 16px;
//         border: 3.5px solid white;
//         outline: 3px solid v-bind('player.mainColor');
//         background-color: v-bind('player.mainColor');
//         &:hover, &.hover {
//           cursor: default;
//           transform: scale(1);
//         }
//       }
//     }
//   }
// }
